.navigation {
  height: 70px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 15px auto;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 12px;
    justify-content: flex-start;
  }

  .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
      transition: transform 500ms ease-in-out;
    }

    .nav-link:hover {
      transform: scale(1.2);
    }
  }
}
